# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js Build Outputs
/.next/
/out/

# Production Build Cache
/build

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables
.env*.local

# System/OS Files
.DS_Store
Thumbs.db